@(currentPage: Page[Product], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash, messages: Messages)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@linkSingle(id: Int) = @{
    routes.Application.single(id)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    
    <h1>@Messages("products.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Application.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by product name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        }
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { products =>
        
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(2, "Product name")
                    @header(3, "Brand")
                    @header(4, "Category")
                    @header(5, "Sites")
                </tr>
            </thead>
            <tbody>

                @products.map {
                    case Product(id, name, Brand(brand_name), Category(category_name), siteUrls, _) => {
                        <tr>
                            <td><a href="@linkSingle(id)">@name</a></td>
                            <td>
                                @brand_name
                            </td>
                            <td>
                                @category_name
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            @siteUrls.map {
                                                case ProductUrl(Site(site_name), url) => {
                                                <td><a href="@url">@site_name</a></td>
                                                }
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + products.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}

            