@(currentPage: Option[Product])(implicit flash: play.api.mvc.Flash, messages: Messages)

@**********************************
* Helper generating table headers *
***********************************@
@header(title: String) = {
<th class="headerSortDown">@title</th>
}

@main {

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

@currentPage.map { product =>
<script type="text/javascript">
function loadGraphicData() {
    var series = [];
    @product.prices.map { priceList =>
        var currentElement = {};
        currentElement.name = '@priceList.site.name';
        currentElement.data = [];

        @priceList.prices.toSeq.sortBy(_._1).map { price =>
        currentElement.data.push([@price._1, @price._2]);
        }
        series.push(currentElement);
    }

    return series;
};

function loadChart() {
    new Highcharts.Chart({
        chart: {
            renderTo: 'graphic',
            type: 'spline'
        },
        title: {
            text: 'Prices'
        },
        subtitle: {
            text: 'Changes in product price in time per sites'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Price'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: <b>{point.y:.2f} $</b>'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: loadGraphicData()
    });
};

window.onload = loadChart;
</script>
<div id="graphic"></div>
<table class="computers zebra-striped">
    <thead>
    <tr>
        @header("Product name")
        @header("Brand")
        @header("Category")
        @header("Sites")
    </tr>
    </thead>
    <tbody>

    @product match {
    case Product(id, name, Brand(brand_name), Category(category_name), siteUrls, _) => {
    <tr>
        <td>@name</td>
        <td>
            @brand_name
        </td>
        <td>
            @category_name
        </td>
        <td>
            <table>
                <tbody>
                <tr>
                    @siteUrls.map {
                    case ProductUrl(Site(site_name), url) => {
                    <td><a href="@url">@site_name</a></td>
                    }
                    }
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    }
    }

    </tbody>
</table>

}.getOrElse {

<div class="well">
    <em>Nothing to display</em>
</div>

}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

}

            